/* ====== Overall Layout ====== */
.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
}

/* Header Bar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #18181b;
  padding: 12px 20px;
  border-bottom: 1px solid #27272a;
}

/* Main Content Layout */
.main-content {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  padding: 15px;
  overflow-y: auto; /* enables scrolling */
  max-height: calc(100vh - 60px); /* keeps it inside the viewport minus header height */
  border-right: 1px solid #27272a; /* optional if you want a line here instead of hr */
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  border-bottom: 2px solid #27272a;
  padding-bottom: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  background-color: #09090b;
  border: 1px solid #27272a;
  transition: 0.2s;
}

.sidebar li:hover {
  background-color: #1f1f23;
}

.sidebar li.active {
  background-color: #6366f1;
  color: white;
}

.event-name {
  font-weight: bold;
}

.event-date {
  font-size: 0.85rem;
  color: #a1a1aa;
}

/* Event Details */
.event-details {
  flex: 1;
  padding: 20px;
}

.event-details p {
  margin: 8px 0;
  color: #d4d4d8;
}

/* Vertical Line */
.vertical-line {
  width: 1px;
  background-color: #27272a;
  height: auto;
}


/* Logout Button */
.logout-btn {
  background-color: #ef4444;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  width: 7%;
  transition: background-color 0.2s ease;
}

.logout-btn:hover {
  background-color: #dc2626;
}


